@use '../abstracts/' as *;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  
  
}

*::-webkit-scrollbar {
  display: none ; /* for Chrome, Safari, and Opera */
}





