// Margin Classes
.m-0 { margin: 0px !important; }
.mx-0 { margin-left: 0px !important; margin-right: 0px !important; }
.my-0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.ms-0 { margin-inline-start: 0px !important; }
.me-0 { margin-inline-end: 0px !important; }
.mt-0 { margin-top: 0px !important; }
.mr-0 { margin-right: 0px !important; }
.mb-0 { margin-bottom: 0px !important; }
.ml-0 { margin-left: 0px !important; }

.m-1 { margin: 0.25rem !important; }
.mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.ms-1 { margin-inline-start: 0.25rem !important; }
.me-1 { margin-inline-end: 0.25rem !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mr-1 { margin-right: 0.25rem !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.ml-1 { margin-left: 0.25rem !important; }

.m-2 { margin: 0.5rem !important; }
.mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.ms-2 { margin-inline-start: 0.5rem !important; }
.me-2 { margin-inline-end: 0.5rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.ml-2 { margin-left: 0.5rem !important; }

.m-3 { margin: 0.75rem !important; }
.mx-3 { margin-left: 0.75rem !important; margin-right: 0.75rem !important; }
.my-3 { margin-top: 0.75rem !important; margin-bottom: 0.75rem !important; }
.ms-3 { margin-inline-start: 0.75rem !important; }
.me-3 { margin-inline-end: 0.75rem !important; }
.mt-3 { margin-top: 0.75rem !important; }
.mr-3 { margin-right: 0.75rem !important; }
.mb-3 { margin-bottom: 0.75rem !important; }
.ml-3 { margin-left: 0.75rem !important; }

.m-4 { margin: 1rem !important; }
.mx-4 { margin-left: 1rem !important; margin-right: 1rem !important; }
.my-4 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.ms-4 { margin-inline-start: 1rem !important; }
.me-4 { margin-inline-end: 1rem !important; }
.mt-4 { margin-top: 1rem !important; }
.mr-4 { margin-right: 1rem !important; }
.mb-4 { margin-bottom: 1rem !important; }
.ml-4 { margin-left: 1rem !important; }

.m-5 { margin: 1.25rem !important; }
.mx-5 { margin-left: 1.25rem !important; margin-right: 1.25rem !important; }
.my-5 { margin-top: 1.25rem !important; margin-bottom: 1.25rem !important; }
.ms-5 { margin-inline-start: 1.25rem !important; }
.me-5 { margin-inline-end: 1.25rem !important; }
.mt-5 { margin-top: 1.25rem !important; }
.mr-5 { margin-right: 1.25rem !important; }
.mb-5 { margin-bottom: 1.25rem !important; }
.ml-5 { margin-left: 1.25rem !important; }

.m-6 { margin: 1.5rem !important; }
.mx-6 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.my-6 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.ms-6 { margin-inline-start: 1.5rem !important; }
.me-6 { margin-inline-end: 1.5rem !important; }
.mt-6 { margin-top: 1.5rem !important; }
.mr-6 { margin-right: 1.5rem !important; }
.mb-6 { margin-bottom: 1.5rem !important; }
.ml-6 { margin-left: 1.5rem !important; }

.m-7 { margin: 1.75rem !important; }
.mx-7 { margin-left: 1.75rem !important; margin-right: 1.75rem !important; }
.my-7 { margin-top: 1.75rem !important; margin-bottom: 1.75rem !important; }
.ms-7 { margin-inline-start: 1.75rem !important; }
.me-7 { margin-inline-end: 1.75rem !important; }
.mt-7 { margin-top: 1.75rem !important; }
.mr-7 { margin-right: 1.75rem !important; }
.mb-7 { margin-bottom: 1.75rem !important; }
.ml-7 { margin-left: 1.75rem !important; }

.m-8 { margin: 2rem !important; }
.mx-8 { margin-left: 2rem !important; margin-right: 2rem !important; }
.my-8 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.ms-8 { margin-inline-start: 2rem !important; }
.me-8 { margin-inline-end: 2rem !important; }
.mt-8 { margin-top: 2rem !important; }
.mr-8 { margin-right: 2rem !important; }
.mb-8 { margin-bottom: 2rem !important; }
.ml-8 { margin-left: 2rem !important; }

.m-9 { margin: 2.25rem !important; }
.mx-9 { margin-left: 2.25rem !important; margin-right: 2.25rem !important; }
.my-9 { margin-top: 2.25rem !important; margin-bottom: 2.25rem !important; }
.ms-9 { margin-inline-start: 2.25rem !important; }
.me-9 { margin-inline-end: 2.25rem !important; }
.mt-9 { margin-top: 2.25rem !important; }
.mr-9 { margin-right: 2.25rem !important; }
.mb-9 { margin-bottom: 2.25rem !important; }
.ml-9 { margin-left: 2.25rem !important; }

.m-10 { margin: 2.5rem !important; }
.mx-10 { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
.my-10 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
.ms-10 { margin-inline-start: 2.5rem !important; }
.me-10 { margin-inline-end: 2.5rem !important; }
.mt-10 { margin-top: 2.5rem !important; }
.mr-10 { margin-right: 2.5rem !important; }
.mb-10 { margin-bottom: 2.5rem !important; }
.ml-10 { margin-left: 2.5rem !important; }

.m-11 { margin: 2.75rem !important; }
.mx-11 { margin-left: 2.75rem !important; margin-right: 2.75rem !important; }
.my-11 { margin-top: 2.75rem !important; margin-bottom: 2.75rem !important; }
.ms-11 { margin-inline-start: 2.75rem !important; }
.me-11 { margin-inline-end: 2.75rem !important; }
.mt-11 { margin-top: 2.75rem !important; }
.mr-11 { margin-right: 2.75rem !important; }
.mb-11 { margin-bottom: 2.75rem !important; }
.ml-11 { margin-left: 2.75rem !important; }

.m-12 { margin: 3rem !important; }
.mx-12 { margin-left: 3rem !important; margin-right: 3rem !important; }
.my-12 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.ms-12 { margin-inline-start: 3rem !important; }
.me-12 { margin-inline-end: 3rem !important; }
.mt-12 { margin-top: 3rem !important; }
.mr-12 { margin-right: 3rem !important; }
.mb-12 { margin-bottom: 3rem !important; }
.ml-12 { margin-left: 3rem !important; }

.m-14 { margin: 3.5rem !important; }
.mx-14 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
.my-14 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
.ms-14 { margin-inline-start: 3.5rem !important; }
.me-14 { margin-inline-end: 3.5rem !important; }
.mt-14 { margin-top: 3.5rem !important; }
.mr-14 { margin-right: 3.5rem !important; }
.mb-14 { margin-bottom: 3.5rem !important; }
.ml-14 { margin-left: 3.5rem !important; }

.m-16 { margin: 4rem !important; }
.mx-16 { margin-left: 4rem !important; margin-right: 4rem !important; }
.my-16 { margin-top: 4rem !important; margin-bottom: 4rem !important; }
.ms-16 { margin-inline-start: 4rem !important; }
.me-16 { margin-inline-end: 4rem !important; }
.mt-16 { margin-top: 4rem !important; }
.mr-16 { margin-right: 4rem !important; }
.mb-16 { margin-bottom: 4rem !important; }
.ml-16 { margin-left: 4rem !important; }

.m-20 { margin: 5rem !important; }
.mx-20 { margin-left: 5rem !important; margin-right: 5rem !important; }
.my-20 { margin-top: 5rem !important; margin-bottom: 5rem !important; }
.ms-20 { margin-inline-start: 5rem !important; }
.me-20 { margin-inline-end: 5rem !important; }
.mt-20 { margin-top: 5rem !important; }
.mr-20 { margin-right: 5rem !important; }
.mb-20 { margin-bottom: 5rem !important; }
.ml-20 { margin-left: 5rem !important; }

.m-24 { margin: 6rem !important; }
.mx-24 { margin-left: 6rem !important; margin-right: 6rem !important; }
.my-24 { margin-top: 6rem !important; margin-bottom: 6rem !important; }
.ms-24 { margin-inline-start: 6rem !important; }
.me-24 { margin-inline-end: 6rem !important; }
.mt-24 { margin-top: 6rem !important; }
.mr-24 { margin-right: 6rem !important; }
.mb-24 { margin-bottom: 6rem !important; }
.ml-24 { margin-left: 6rem !important; }

.m-28 { margin: 7rem !important; }
.mx-28 { margin-left: 7rem !important; margin-right: 7rem !important; }
.my-28 { margin-top: 7rem !important; margin-bottom: 7rem !important; }
.ms-28 { margin-inline-start: 7rem !important; }
.me-28 { margin-inline-end: 7rem !important; }
.mt-28 { margin-top: 7rem !important; }
.mr-28 { margin-right: 7rem !important; }
.mb-28 { margin-bottom: 7rem !important; }
.ml-28 { margin-left: 7rem !important; }

.m-32 { margin: 8rem !important; }
.mx-32 { margin-left: 8rem !important; margin-right: 8rem !important; }
.my-32 { margin-top: 8rem !important; margin-bottom: 8rem !important; }
.ms-32 { margin-inline-start: 8rem !important; }
.me-32 { margin-inline-end: 8rem !important; }
.mt-32 { margin-top: 8rem !important; }
.mr-32 { margin-right: 8rem !important; }
.mb-32 { margin-bottom: 8rem !important; }
.ml-32 { margin-left: 8rem !important; }

.m-36 { margin: 9rem !important; }
.mx-36 { margin-left: 9rem !important; margin-right: 9rem !important; }
.my-36 { margin-top: 9rem !important; margin-bottom: 9rem !important; }
.ms-36 { margin-inline-start: 9rem !important; }
.me-36 { margin-inline-end: 9rem !important; }
.mt-36 { margin-top: 9rem !important; }
.mr-36 { margin-right: 9rem !important; }
.mb-36 { margin-bottom: 9rem !important; }
.ml-36 { margin-left: 9rem !important; }

.m-40 { margin: 10rem !important; }
.mx-40 { margin-left: 10rem !important; margin-right: 10rem !important; }
.my-40 { margin-top: 10rem !important; margin-bottom: 10rem !important; }
.ms-40 { margin-inline-start: 10rem !important; }
.me-40 { margin-inline-end: 10rem !important; }
.mt-40 { margin-top: 10rem !important; }
.mr-40 { margin-right: 10rem !important; }
.mb-40 { margin-bottom: 10rem !important; }
.ml-40 { margin-left: 10rem !important; }

.m-44 { margin: 11rem !important; }
.mx-44 { margin-left: 11rem !important; margin-right: 11rem !important; }
.my-44 { margin-top: 11rem !important; margin-bottom: 11rem !important; }
.ms-44 { margin-inline-start: 11rem !important; }
.me-44 { margin-inline-end: 11rem !important; }
.mt-44 { margin-top: 11rem !important; }
.mr-44 { margin-right: 11rem !important; }
.mb-44 { margin-bottom: 11rem !important; }
.ml-44 { margin-left: 11rem !important; }

.m-48 { margin: 12rem !important; }
.mx-48 { margin-left: 12rem !important; margin-right: 12rem !important; }
.my-48 { margin-top: 12rem !important; margin-bottom: 12rem !important; }
.ms-48 { margin-inline-start: 12rem !important; }
.me-48 { margin-inline-end: 12rem !important; }
.mt-48 { margin-top: 12rem !important; }
.mr-48 { margin-right: 12rem !important; }
.mb-48 { margin-bottom: 12rem !important; }
.ml-48 { margin-left: 12rem !important; }

.m-52 { margin: 13rem !important; }
.mx-52 { margin-left: 13rem !important; margin-right: 13rem !important; }
.my-52 { margin-top: 13rem !important; margin-bottom: 13rem !important; }
.ms-52 { margin-inline-start: 13rem !important; }
.me-52 { margin-inline-end: 13rem !important; }
.mt-52 { margin-top: 13rem !important; }
.mr-52 { margin-right: 13rem !important; }
.mb-52 { margin-bottom: 13rem !important; }
.ml-52 { margin-left: 13rem !important; }

.m-56 { margin: 14rem !important; }
.mx-56 { margin-left: 14rem !important; margin-right: 14rem !important; }
.my-56 { margin-top: 14rem !important; margin-bottom: 14rem !important; }
.ms-56 { margin-inline-start: 14rem !important; }
.me-56 { margin-inline-end: 14rem !important; }
.mt-56 { margin-top: 14rem !important; }
.mr-56 { margin-right: 14rem !important; }
.mb-56 { margin-bottom: 14rem !important; }
.ml-56 { margin-left: 14rem !important; }

.m-60 { margin: 15rem !important; }
.mx-60 { margin-left: 15rem !important; margin-right: 15rem !important; }
.my-60 { margin-top: 15rem !important; margin-bottom: 15rem !important; }
.ms-60 { margin-inline-start: 15rem !important; }
.me-60 { margin-inline-end: 15rem !important; }
.mt-60 { margin-top: 15rem !important; }
.mr-60 { margin-right: 15rem !important; }
.mb-60 { margin-bottom: 15rem !important; }
.ml-60 { margin-left: 15rem !important; }

.m-64 { margin: 16rem !important; }
.mx-64 { margin-left: 16rem !important; margin-right: 16rem !important; }
.my-64 { margin-top: 16rem !important; margin-bottom: 16rem !important; }
.ms-64 { margin-inline-start: 16rem !important; }
.me-64 { margin-inline-end: 16rem !important; }
.mt-64 { margin-top: 16rem !important; }
.mr-64 { margin-right: 16rem !important; }
.mb-64 { margin-bottom: 16rem !important; }
.ml-64 { margin-left: 16rem !important; }

.m-72 { margin: 18rem !important; }
.mx-72 { margin-left: 18rem !important; margin-right: 18rem !important; }
.my-72 { margin-top: 18rem !important; margin-bottom: 18rem !important; }
.ms-72 { margin-inline-start: 18rem !important; }
.me-72 { margin-inline-end: 18rem !important; }
.mt-72 { margin-top: 18rem !important; }
.mr-72 { margin-right: 18rem !important; }
.mb-72 { margin-bottom: 18rem !important; }
.ml-72 { margin-left: 18rem !important; }

.m-80 { margin: 20rem !important; }
.mx-80 { margin-left: 20rem !important; margin-right: 20rem !important; }
.my-80 { margin-top: 20rem !important; margin-bottom: 20rem !important; }
.ms-80 { margin-inline-start: 20rem !important; }
.me-80 { margin-inline-end: 20rem !important; }
.mt-80 { margin-top: 20rem !important; }
.mr-80 { margin-right: 20rem !important; }
.mb-80 { margin-bottom: 20rem !important; }
.ml-80 { margin-left: 20rem !important; }

.m-96 { margin: 24rem !important; }
.mx-96 { margin-left: 24rem !important; margin-right: 24rem !important; }
.my-96 { margin-top: 24rem !important; margin-bottom: 24rem !important; }
.ms-96 { margin-inline-start: 24rem !important; }
.me-96 { margin-inline-end: 24rem !important; }
.mt-96 { margin-top: 24rem !important; }
.mr-96 { margin-right: 24rem !important; }
.mb-96 { margin-bottom: 24rem !important; }
.ml-96 { margin-left: 24rem !important; }

// Margin Auto Classes
.m-auto { margin: auto !important; }
.mx-auto { margin-left: auto !important; margin-right: auto !important; }
.my-auto { margin-top: auto !important; margin-bottom: auto !important; }
.ms-auto { margin-inline-start: auto !important; }
.me-auto { margin-inline-end: auto !important; }
.mt-auto { margin-top: auto !important; }
.mr-auto { margin-right: auto !important; }
.mb-auto { margin-bottom: auto !important; }
.ml-auto { margin-left: auto !important; }