/* Widths in pixels */
.w-0 { width: 0px !important; }
.w-1 { width: 0.25rem !important; } /* 4px if 1rem=16px */
.w-2 { width: 0.5rem !important; }  /* 8px */
.w-3 { width: 0.75rem !important; } /* 12px */
.w-4 { width: 1rem !important; }    /* 16px */
.w-5 { width: 1.25rem !important; } /* 20px */
.w-6 { width: 1.5rem !important; }  /* 24px */
.w-8 { width: 2rem !important; }    /* 32px */
.w-10 { width: 2.5rem !important; } /* 40px */
.w-12 { width: 3rem !important; }   /* 48px */
.w-16 { width: 4rem !important; }   /* 64px */
.w-20 { width: 5rem !important; }   /* 80px */
.w-24 { width: 6rem !important; }   /* 96px */
.w-32 { width: 8rem !important; }   /* 128px */
.w-36 { width: 9rem !important; }   /* 128px */
.w-40 { width: 10rem !important; }  /* 160px */
.w-44 { width: 11rem !important; }  /* 160px */
.w-48 { width: 12rem !important; }  /* 192px */
.w-52 { width: 13rem !important; }  /* 192px */
.w-56 { width: 14rem !important; }  /* 224px */
.w-64 { width: 16rem !important; }  /* 256px */
.w-72 { width: 18rem !important; }  /* 288px */
.w-80 { width: 20rem !important; }  /* 320px */
.w-96 { width: 24rem !important; }  /* 384px */
.w-px { width: 1px !important; }    /* 1px specifically */

/* Full Width */
.w-full { width: 100% !important; }

/* Screen width */
.w-screen { width: 100vw !important; }

/* Auto width */
.w-auto { width: auto !important; }

/* Min and Max widths */
.min-w-0 { min-width: 0 !important; }
.min-w-full { min-width: 100% !important; }
.max-w-full { max-width: 100% !important; }
.max-w-xs { max-width: 20rem !important; }
.max-w-sm { max-width: 24rem !important; }
.max-w-md { max-width: 28rem !important; }
.max-w-lg { max-width: 32rem !important; }
.max-w-xl { max-width: 36rem !important; }
.max-w-2xl { max-width: 42rem !important; }
.max-w-3xl { max-width: 48rem !important; }
.max-w-4xl { max-width: 56rem !important; }
.max-w-5xl { max-width: 64rem !important; }
.max-w-6xl { max-width: 72rem !important; }
.max-w-screen-sm { max-width: 640px !important; }
.max-w-screen-md { max-width: 768px !important; }
.max-w-screen-lg { max-width: 1024px !important; }
.max-w-screen-xl { max-width: 1280px !important; }
.max-w-screen-2xl { max-width: 1536px !important; }
